---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="¡De Vuelta al Colegio!">
  <main>
    <h1><span class="text-gradient">¡De Vuelta al Colegio!</span></h1>
    <p></p>
    <video controls>
      <source src="/videos/demo-aplicacion.mp4" type="video/mp4" />
    </video>
  </main>
</Plantilla>
