$verde: #3effd0;
$verdeO1: rgba(62, 255, 207, 1);
$negro: #22181c;
$morado: #5300ff;
$rojo: #f45b69;
$amarillo: rgb(255, 217, 114);
$azul2: rgb(21, 95, 135);
$blanco: #f9f2f5;
$originales: rgb(15, 239, 183);
$citas: rgb(255, 217, 114);
$replicas: rgb(240, 209, 208);
$azul: rgb(62, 220, 255);
$gris: #453a3e;
